* {
    font-family: "Open Sans";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper,
html,
body {
    height: 100%;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#fixedHeader {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgb(38, 41, 46);
    background: linear-gradient(90deg, rgba(38, 41, 46, 1) 11%, rgba(34, 40, 49, 1) 55%, rgba(57, 62, 70, 1) 89%);
    display: flex;
}

#fixedHeader_text {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 30px;
}

#contentWrapper {
    display: flex;
    height: 100%;
}

#sideBar {
    width: 120px;
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sideBarItem {
    color: white;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
    cursor: pointer;
    flex: 1;
    justify-content: center;
}

.sideBarItem div {
    pointer-events: none;
    border-bottom: none;
}

.sideBarItem:hover {
    background-color: #131417
}

.sideBarImg img {
    width: 50px;
}

.sideBarSelected {
    background-color: #00ADB5;
}

/*----------------------------CONTENT----------------------------*/
#content {
    background-color: #F5F5F5;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

/*----------------------------SEARCH DRIVER----------------------------*/
.tableInputFields {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.tableInputFields>span{
    font-size: 20px;
}

#searchDriver {
    width: 250px;
    height: 30px;
    margin-right: 15px;
}

.radioLabelDriver {
    margin-right: 10px;
    border-left: 1px dashed black;
    padding: 10px;
    align-items: center;
}
.radioLabelDriver:first-of-type{
    border-left: none;
    margin-left: 15px;
}
/*----------------------------TABlE----------------------------*/
#tableWrapper {
    display: flex;
    height: 500px;
    overflow: auto;
    width: 100%;
}

#driverTable {
    flex: 1;
}

#driverTable,
tr,
td,
th {
    border: 2px solid #222831;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
}

#driverTable td,
th {
    padding: 10px 25px;
}

th {
    background: #222831;
    position: sticky;
    top: -2px;
    height: 25px;
}

tr:nth-child(even) {
    background-color: #E6E7E8;
}

tr:hover {
    background-color: #AAE3E6;
}

#driverTableHead th {
    padding: 15px 0;
}

#driverTableHead {
    background-color: #222831;
    color: white;
    height: 25px;
}

.btnTable {
    margin: 0px 5px;
    /* padding: 8px 20px; */
    background-color: white;
    border: 1px solid #00ADB5;
    color: #00ADB5;

    transition-duration: 0.3s;
    width: 50%;
    height: 40px;
}

.btnTable:hover {
    background-color: #00ADB5;
    color: white;
}

.btnDelete {
    color: #F44336;
    border: 1px solid #F44336;
    width: 30%;
}

.btnDelete:hover {
    background-color: #F44336;
    color: white;
}
.PrikaziVisibility{
    visibility: visible !important;
 }

 /*----------------------------MODAL DELETE-----------------------*/
 #modalDelete{
    width: 100%;
    height: 100%;
    background: rgba(216, 216, 218,.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: 300;
}
#modalWrapper{
    align-items: center;
    margin: auto;
    width: 30%;
    border: 1px solid black;
}
#modalWrapperTop{
    background-color: #222831;
    display: flex;
    margin: 0;
    padding: 0;
}
#modalWrapperTop span{
    color: white;
    margin: auto;
    flex: 1;
    font-size: 1.5rem;
    padding: 10px;
}
#modalWrapperTop img{
    width: 50px;
}
#zatvoriModalniDetaljnije{
    cursor: pointer;
}
#modalDeleteWrapperContent{
    background-color: white;
    padding: 15px;
}
#modalDeleteWrapperContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modalniDetalji{
    padding: 3px 25px 3px 5px;
    cursor: pointer;
    text-align: left;
}